.note-app {
	margin: 20px;
}

.note-app__header {
	height: 60px;
	line-height: 60px;
	border: 3px solid black;
}
.note-app__heading {
	margin-left: 10px;
}

.note-app__container {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	min-height: 360px;
}

.note-app__menu {
	width: 360px;
	flex-shrink: 0;

	border-width: 0 3px 3px;
	border-style: solid;
	border-color: black;

	background-color: #F4F4F4;
}

.note-app__viewing-area {
	flex-grow: 1;

	border-width: 0 3px 3px 0;
	border-style: solid;
	border-color: black;
}

.note-app_viewing-area-title {
	color: #3366FF;
	margin: 20px;
}
.note-app_viewing-area-text {
	margin: 20px;
}